.ad {
    width: 100%;
    min-width: 1400px;

    .single-item {
        margin: 0;
        padding: 0;

        .slick-arrow {
            width: auto;
            height: auto;
            position: relative;

            &.slick-prev {
                width: 36px;
                height: 36px;
                background: $adBTN;
                border-radius: 50px;
                position: absolute;
                top: 375px;
                left: 680px;
                z-index: 10;
                
                &::before {
                    content: "";
                    width: 15px;
                    height: 18px;
                    position: absolute;
                    top: 10px;
                    left: 9px;
                }
            }

            &.slick-next {
                width: 36px;
                height: 36px;
                background: $adBTN;
                border-radius: 50px;
                position: absolute;
                top: 375px;
                right: 680px;

                &::before {
                    content: "";
                    width: 15px;
                    height: 18px;
                    transform: rotate(180deg);
                    position: absolute;
                    top: 10px;
                    right: 9px;
                }
            }
        }

        .slick-slide {
            outline: none;
        }

        .slick-dots {
            width: auto;
            height: 45px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;

            button {
                z-index: 1;

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: $adBTN;
                    margin-right: 30px;
                    border-radius: 50px;
                    box-shadow: 0px 0px 6px $adDotShadow;

                    &:last-child {
                        margin: 0;
                    }
                }

                &:hover, &:active, &.active {
                    &::before {
                        background: $adDot;
                    } 
                }
            }
        }

        .slick-active {
            button {
                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: $adDot;
                    margin-right: 30px;
                    border-radius: 50px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}