aside {
    cursor: pointer;
    position: fixed;
    top: 185px;
    z-index: 40;
    box-shadow: 0 0 7px 0 #00000066;
    border: 2px solid;

    &.app {
        width: 55px;
        height: 189px;
        @include flex_V1;
        left: 10px;
        border-radius: 50px;
        border-color: #565656;
        background: #ffffffd8;

        i {
            width: 25px;
            height: 25px;
            margin-bottom: 15px;
        }

        p {
            writing-mode: vertical-lr;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 5px;
            color: #565656;
        }
    }

    &.cs {
        @include flex_H1;
        width: 57px;
        height: 57px;
        right: 10px;
        border-radius: 50px;
        border-color: #ffffff;
        background: #9d9d9d;

        .csBtn_ic {
            width: 30px;
            height: 30px;
        }
    }
}