//內頁上背景色
$mainBG_1: linear-gradient(to bottom,#af5d1c 0%,#f6ebadbf 100%);
//內頁下背景色
$mainBG_2: #f6ebadbf;
//小視窗背景
$window_BG: #e5d9b7;
//內頁小區塊背景
$smallBG: linear-gradient(to bottom,#f9f2de 0%,#e7d2ac 100%);

//主border
$mainBorder_1: #bf9755; //分隔用 較淺 + 小區塊背景用框線
$mainBorder_2: #fff8e2; //較深底+彈窗背景外框線

//主字色
$mainFont_1: #281600; //主字色
$mainFont_2: #ffffff; //副標用字

//提醒字色
$remind: #f30f0f;
$remind_sp: #2fd4b6;

//陰影色
$mainShadow_1: #0000004a;

//內頁左側hover
$innerSide_HoverBG1: #6b2f00;
$innerSide_HoverBG2: linear-gradient(to right,#af5d1c 0%,#6b2f00 100%);

//最新消息選擇色
$choose_Word: #632c00;
$choose_Border: #713100;

//標題色
$title_1: #fff7d8;
$title_2: #753200;
$title_Time: #b36c40;

//金錢色
$money: #441e00;

//連結色
$link: #bb5f16;

//背景半透明黑
$filter_1: #0000009e;
$filter_2: #ffeed4ad;

//彈窗標頭色
$jumpWindow_Header: linear-gradient(to right,#af5d1c 0%,#6b2f00 100%);
$jumpWindow_Title: #ffffff;

//滑軸顏色
$scrollBar_BG: #cccccc;
$scrollBar_Thumb: linear-gradient(to right,#af5d1c 0%,#6b2f00 100%);

//帳號低中高強度
$low: #ff0000;
$middle: #ff8d68;
$high: #00a99d;
//帳號認證與未認證圖示背景
$noCheck: #999999;
$check: #2ca459;

//未啟用色
$disable: #919191;

//註冊頁ID切換
@mixin choose {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background: #939393;
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
        right: 10px;
        z-index: 2;
    }
    &::after {
        transform: rotate(-45deg) translateY(-50%);
    }

    li {
        display: none;
        position: relative;
        box-sizing: border-box;
        border: 1px solid #adadad;
        background: linear-gradient(to top,#d9d9d9 0%,#ededed 50%,#ffffff 100%);
        border-radius: 5px;
        cursor: pointer;

        &.display {
            display: block;
        }
    }
}

//左選擇列hover樣式
@mixin navHover {
    background: #198c55;
    color: #ffffff;

    span {
        color: #ffffff;
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 3px;
    //     height: 100%;
    //     left: 0px;
    //     top: 0px;
    //     background: #a28653;
    // }
}

//lv樣式
@mixin level {
    width: 70%;
    background: #20bcaf;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    text-align: center;
}

//level升級條樣式
@mixin levelBar {
    background: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;

    li {
        background: linear-gradient(to right,#af5d1c 0%,#6b2f00 100%);
        height: 100%;
        border-radius: 10px;
    }
}

//維修
@mixin fixBox {
    display: none;
    position: absolute;
    border-radius: 5px;
    background: #0000009e;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: not-allowed;

    &.display {
        display: flex;
    }

    p {
        color: #ffffff;
        font-weight: bold;

        &.title {
            margin-bottom: 30px;
        }
    }
}

//表格樣式
$tableList_Border: #713100;
$tableList_Title: #713100;
$tableList_TitleBG: #fff8e2;
$tableList_ListBG: #feedc5;
$tableList_betWord: #a75819;

//header色
$header_BG_1: linear-gradient(to right,#753200 0%,#281600 100%);
$header_LV_1: #ffff00;
$header_LV_2: #fbf2d3;
$header_Border: #ffffff85;
$header_Word: #f9e136;
@mixin headerBtn_1 {
    background: linear-gradient(to bottom,#fff4ca 0%,#fff4ca 50%,#ddcb9f 100%);
    border: solid 1px #fdf4d9;
    color: #633d00;
    font-size: 14px;
    padding: 0 16px 2px;
    font-weight: bold;
    border-radius: 3px;

    &:hover,&:active,&.active {
        background: #b91070;
        color: #ffffff;
    }
}
@mixin headerBtn_2 {
    background: #885630;
    border: solid 1px #fff2ca;
    color: #ffffff;
    font-size: 14px;
    padding: 0 16px 2px;
    font-weight: bold;
    border-radius: 3px;

    &:hover,&:active,&.active {
        background: #0062a8;
    }
}
@mixin headerInput {
    background: #ffffff;
    border: solid 1px #cbcbcb;
    border-radius: 3px;
    color: #1a1a1a;
    padding: 0 5px 0 30px;
    font-weight: bold;

    &::placeholder {
        color: #cccccc;
    }
}
@mixin headerForget {
    color: #fbf2d3;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        color: #ff0000;
    }
}
@mixin headerMoney {
    display: block;
    padding: 6px 20px 6px 8px;
    border: 1px solid #ffff00;
    user-select: none;
    border-radius: 20px;
    color: #ffff00;
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #ffff00 transparent;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
}
@mixin headerMoneyList {
    background: #fbe2b7;
    border: solid 1px #753200;
    position: absolute;
    z-index: 20;
    display: none;

    &.display {
        display: block;
    }

    li {
        border-bottom: solid 1px #753200;
        padding: 11px 16px;
        box-sizing: border-box;
        
        div {
            color: #281600;
            width: 100%;
            height: 100%;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .money {
                color: #281600;
            }
        }
    }
}
//headerNav
@mixin headerNavHover {
    display: flex;
    align-items: center;
    padding: 0 23px;
    font-size: 14px;
    color: #fff7d8;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#ddbb86 0%,#ffedce 100%);
        box-shadow: 0 2px 0 0 #ffeac5 inset;
        color: #683b00;
    }
}
//header下拉式選單
$topGameList_BG: linear-gradient(180deg,#2b1600 0%,#542e0a 100%);
$topGameList_Border: #fdf6dc;
$topGameList_Word: #fff7d8;

//ad
$ad_Arrow: #ffffff;
$ad_Dot: #ffffff;

//sideBar
$sideBar_BG1: linear-gradient(to right,#fcf4db 1%,#ddcb9f 4%,#fff1c9 35%,#fff1c9 65%,#ddcb9f 85%,#fff8e0 100%);
$sideBar_Border1: #ffffff;
$sideBar_Word: #282828;

//marquee
$marquee_BG: #fbe2b7;
$marquee_Word: #281600;

//footer
$footer_BG1: linear-gradient(to top,#fff7dd 0%,#fff4ca 50%,#ddcb9f 100%);
$footer_BG2: linear-gradient(to right,#281600 0%,#753200 50%,#281600 100%);
$footer_Hover: #652c00;
$footer_Word1: #633d00;
$footer_Word2: #fff7d8;

//gameWrap大title字漸層
$gameWrap_Linear: #ffefd3;
//slot小窗字底
$gameWrap_WordBG: #fbe2b7;
$gameWrap_Word: #522500;
//slot背景
$gameWrap_SlotBG: linear-gradient(to bottom,#652c00 0,#723100c7 100%);
//slot選擇
$gameWrap_SlotChoose: #fbf2d3;
$gameWrap_SlotBoard: #fbf2d3;

//vipCard字樣式
@mixin cardWord {
    color: #ffffff;
    text-shadow: 1px 2px 3px #000000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
}

//bankCard樣式
@mixin bankCard {
    background: linear-gradient(to top, #fff1b0 0%, #dcc16e 52%, #fff1b0 100%);
    border: solid 1px #b16d3d;
    padding: 15px 17px 0;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    &.empty {
        background: linear-gradient(to right,#af5d1c 0%,#6b2f00 100%);
        padding: 0;
        align-items: center;
        justify-content: center;
        border-color: transparent;

        .text {
            font-size: 14px;
            letter-spacing: 1px;
            color: #ffffff;
            font-weight: bold;
            width: 80%;
            line-height: 20px;
        }
    }

    .name {
        font-size: 22px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #252525;
    }

    .branch {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        color: #198c55;
    }

    .account {

        span {
            font-size: 18px;
            letter-spacing: 2px;
            color: #252525;
            font-weight: bold;
        }
    }

    .review {
        color: #f3d4a3;
    }
}

//mail
@mixin mailCheckbox {
    position: relative;

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #ffffff;
        border-radius: 50%;
        border: solid 2px #753200;
    }

    &:checked {
        
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #753200;
            border-radius: 50px;
            z-index: 2;
        }
    }
}
@mixin mailHover {
    background: #fff8e2;
}
@mixin read {
    background: #f9d6a2;
}

//event + help
$event_RightBG: linear-gradient(to bottom,#ebd19c 0%,#f7e6c3 100%);
$event_ActiveWord: #fff7d8;
$event_ActiveBG: #632b00;
$help_boxBG: #b36c40;

//小格錢樣式
$smallMoneyBox_BG: linear-gradient(to bottom,#fffbef 31%,#e7d2ac 100%);

//bettingRecord
$betRecord_innerBG: #fbe2b7;


//button


//最常用按鈕
@mixin mainBtn {
    background: linear-gradient(to top,#1eb0a4 0%,#26dbcc 100%);
    border: solid 1px #39ebdd;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#1eb0a4 0%,#159288 100%);
    }
}
//slot頁按鈕
@mixin slotBtn_1 {
    background: linear-gradient(to top, #801c1c 0%, #f13945 100%);
    border: solid 1px #f56d5c;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #5a0c0c;
    }
}
@mixin slotBtn_2 {
    background: linear-gradient(to top, #324ab9 0%, #6a91f3 100%);
    border: solid 1px #5c8df5;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover,&:active,&.active {
        background: #0e1c5e;
    }
}
//大灰頁籤按鈕
@mixin grayBtn {
    background: linear-gradient(to bottom,#efd9ad 0%,#fff9e3 34%,#fff6d4 62%,#ebd3a8 85%,#f6e4b7 100%);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a87828;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: solid 1px transparent;
    border-bottom: none;
    padding: 0 5px;
    cursor: pointer;
    box-shadow: 0 1px 0 0 #f4e1b4;

    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#fef8e1 0%,#bc7839 12%,#e5cb92 100%);
        color: #ffffff;
        border-color: #fdf5dc;
        box-shadow: 0 1px 0 0 #e5cb91;
    }
}
//新漸層按鈕
@mixin secondBtn {
    background: linear-gradient(to bottom,#fff1b0 6%,#dcc16e 52%,#fff1b0 100%);
    color: #753200;
    border: solid 1px #753200;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;


    &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#7b3806 0%,#b16d3d 99%);
        color: #fff1c7;
    }
}
//少用紅漸層按鈕
@mixin thirdBtn {
    background: linear-gradient(to bottom,#fe3f70 23%,#cf0f57 100%);
    border: solid 1px #ff5480;
    border-radius: 3px;
    color: #fff7d8;
    font-weight: bold;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#df115e 0%,#820031 100%);
    }
}

button:disabled {
    background: #a5a5a5!important;
    border: none!important;
    color: #ffffff !important;
    box-shadow: none !important;
    cursor: not-allowed;
}


//input


//最常用input
@mixin mainInput {
    background: #ffffff;
    border: solid 1px #b16d3d;
    color: #753200;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 15px;

    &::placeholder {
        color: #ad6026;
    }
}
//gameWrap頁用
@mixin gameWrapInput {
    background: transparent;
    color: #fbf2d3;
    border: solid 1px #fbf2d3;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 40px;

    &::placeholder {
        color: #fbf2d3;
    }
}

input:read-only {
    box-shadow: none !important;
}


//select


@mixin mainSelect {
    border-radius: 3px;
    background: #ffffff;
    border: solid 1px #b16d3d;
    padding-left: 16px;
    background-image: linear-gradient(45deg,transparent 50%,#7e3f0f 0),linear-gradient(135deg,#7e3f0f 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
    appearance: none;
    font-size: 14px;
    font-weight: bold;
    color: #753200;

    option {
        background: #ffffff;
        color: #753200;
    }
}