//主背景色
$mainBG_1: #ffffff;
$mainBG_2: #f4f4f4;

//主border
$mainBorder_1: #cccccc;
$mainBorder_2: #c29f64;
$blockBoreder: #dd9d28;

//主字色
$mainFont_1: #333333;
$mainFont_2: #ffffff;
$mainFont_3: #4c4d53;
$mainFont_4: #956817;

//提醒字色
$remind: #e11515;
$remind02: #181dd5;
$remind_sp: #158b18;
$remind_sp2: #008599;

//陰影色
$mainShadow_1: #00000066;

//選擇色
$choose_Word: #4d4d4d;
$choose_Active: #dcb160;
$choose_Border: #f7be50;

//標題色
$title_1: #77400b;
$title_2: #956817;
$title_3: #666666;
$title_Time: #999999;

//金錢色
$money: #1c42bd;

//連結色
$link: #181dd5;

//背景半透明黑
$filter: #0000009e;

//彈窗標頭色
$jumpWindow_Header: linear-gradient(to right, #eaa92c 3%, #dda12e 43%, #ffd147 89%, #eaa92c 100%);
$jumpWindow_closeIC: #ab7617;

//帳號低中高強度
$low: #e11515;
$middle: #ff8d68;
$high: #00a99d;
//帳號認證與未認證圖示背景
$noCheck: #cccccc;
$check: #05b900;

//左選擇列hover樣式
@mixin navHover {
  background: #fce6a8;
  color: $mainFont_1;
}

//lv樣式
@mixin level {
  background: #cc9022;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 20px;
}

//level升級條樣式
@mixin levelBar {
  background: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;

  li {
    background: linear-gradient(to right, #f5c83f 0%, #a2741f 100%);
    height: 100%;
    border-radius: 10px;
  }
}

//header色
$header_topBG: #edf0f9;
$header_NavBG: linear-gradient(to right,#e2a737 3%,#b4801c 20%,#f5c83f 36%,#dda12e 55%,#dda12e 88%,#ffd147 93%,#dea029 100%);
$header_Word: #ffffff;
$header_FGPW_Word: #181dd5;
$header_Hover: #5d4614;
$header_Money: #a2741f;
$header_MoneyBTN: #ffffff;
$header_MoneyBorder: #b78220;
$header_LV_BG: #b78220;
$header_memberID: #593619;
$header_LV_1: #777777;
$header_LV_2: #008599;

@mixin headerBorder {
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    background: #a27a2f;
    border-right: solid 1px #fff7d2;
  }
}
@mixin headerInput {
  border: solid 1px #cccccc;
  background: #ffffff;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  padding: 0 5px 0 30px;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, 30%);
}
@mixin headerBtn_1 {
  background: linear-gradient(to top, #f8cf56 24%, #df9e28 39%, #ffd967 69%);
  color: #101010;
  font-size: 15px;
  font-weight: bold;
  padding: 0 18px;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, 30%);
  border: 1px solid transparent;
  border-radius: 50px;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to top, #3351c1 0%, #0d2676 100%);
    border: 1px solid #f7be50;
    color: #ffe167;
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 30%);
}
}

@mixin headerBtn_2 {
  background: linear-gradient(to top, #e8e8e8 0%, #ffffff 82%);
  color: #a2741f;
  font-size: 15px;
  padding: 0 14px;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, 30%);
  border-radius: 30px;
  border: 1px solid #b78220;

  &:hover,
  &:active,
  &.active {
    color: #ffffff;
    border: 1px solid #f7bf58;
    background: linear-gradient(to top, #a2741f 0%, #744e0a 100%);
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 30%);
  }
}

@mixin headerArrow {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 3px 0px 3px;
    border-color: #a2741f transparent;
  }
}
@mixin headerMoneyList {
  background: #ecdabc;
  border: solid 1px #bb9645;
  position: absolute;
  left: 0;
  z-index: 5;
  display: none;

  &.display {
    display: block;
  }

  li {
    border-bottom: solid 1px #bb9645;
    padding: 11px 16px;
    box-sizing: border-box;

    div {
      color: #333333;
      width: 100%;
      height: 100%;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .money {
        color: #bd0b0b;
      }
    }
  }
}
@mixin headerLang {
  height: 30px;
  background: #b8b8c8;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 0 3px 0 16px;

  &:hover,&:active,&.active {
    background: #8080a1;
  }

  option {
    background: #ffffff;
    color: #333333;
  }
}
//headerNav
$headerNav_Word: #ffffff;
$headerNav_Hover: #dcb160;
$headerNav_BG: linear-gradient(to top, #bb8825 0%, #815817 100%);

//sideBar
$sideBar_BG1: linear-gradient(to top, #f8cf56 17%, #df9e28 26%, #f8cf56 36%, #ffd967 65%, #df9e28 77%, #ffd967 88%, #fff0b4 98%);
$sideBar_BG1_HOV: linear-gradient(to top,#e5b831 0%, #c88b1c 89%);
$sideBar_BG2: linear-gradient(to top, #b68222 0%, #df9e28 100%);
$sideBar_BG2_HOV: linear-gradient(to bottom, #3351c1 0%, #0d2676 100%);
$sideBar_BG3: linear-gradient(120deg, #f8cf56 24%, #df9e28 46%, #ffd967 69%);
$sideBar_Border1: #fffcd5;
$sideBar_Border2: #ffffff;
$sideBar_Word1: #996c33;
$sideBar_Word2: #5e3207;

//ad
$adBTN: #b8b3b3a9;
$adDot: #fff695;
$adDotShadow: #f09d2863;

//marquee
$marquee_BG: #ffffff;
$marquee_Word: #494b55;
$marquee_Shadow: #0000001f;
$marquee_Linear: linear-gradient(to top, #b68222 0%, #df9e28 100%);
$marquee_LinearWord: #ffffff;

//gameWrap大title字
$gameWrap_Linear: linear-gradient(to bottom, #c6740a 0%, #f2aa1f 81%);
$gameWrap_smallTitle: #cc7d0e;

//eventWrap大title字
$eventTitle: linear-gradient(to bottom, #CA850D 23%, #8C5A0B 70%, #CA850D 95%);

//innerPage
$naviconCircle: linear-gradient(to top, #f8cf56 0%, #df9e28 29%, #ffd967 62%);
$innerPlatBox_BG: #fffdf7;

//vipCard字樣式
@mixin cardWord {
  color: #ffffff;
  text-shadow: 1px 2px 3px #000000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

//bankCard樣式
@mixin bankCard {
  background: linear-gradient(120deg, #e2a737 0%,#b4801c 50%, #f8cf56 100%);
  border: solid 1px #ffffff;
  padding: 15px 17px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px 2px #dedede;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.empty {
    background: linear-gradient(120deg, #e8ebf2 0%, #cbcdd3 30%);
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;

    .text {
      font-size: 14px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .name {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ffffff;
  }

  .branch {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
  }

  .account {
    span {
      font-size: 18px;
      letter-spacing: 2px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .review {
    letter-spacing: 1px;
    background: #ffffff;
    color: #cfa678;
    border-radius: 0 0 5px 5px;
    padding: 2px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}

//mail
@mixin mailCheckbox {
  position: relative;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 50%;
    border: solid 1px #cccccc;
  }

  &:checked {
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #996c33;
      border-radius: 50px;
      z-index: 2;
    }
  }
}
@mixin read {
  background: #f5f5f5;

  .title {
    color: #999999;
  }
}


//footer
$footerTOP_BG: linear-gradient(to right,#eead32 1%, #da951c 22%, #ffd34f 55%, #dda12e 80%, #ffd147 100%);
$footerBottom_BG: linear-gradient(to right, #535360 15%, #6f6f7e 40%, #535360 67%, #5f5f6e 100%);
$footerNAV_HOV: #aa7217;

//button

//最常用按鈕
@mixin mainBtn {
  background: linear-gradient(to top, #f8cf56 24%, #df9e28 39%, #ffd967 69%);
  border: solid 1px #cca172;
  color: $mainFont_1;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 100px;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to top, #3351c1 0%, #0d2676 100%);
    border: 1px solid #f7be50;
    color: #ffe167;
    box-shadow: 0px 2px 6px rgb(0, 0, 0, 30%);
}
}


@mixin mainBtn2 {
  background: linear-gradient(to top, #d79515 2%, #955c18 50%, #d79515 94%);
  color: #ffffff;
  font-size: 16px;
  border: 0px;
  border-radius: 30px;
  box-shadow: 0 3px 6px $mainShadow_1;

  &:hover,&:active,&.active {
    background: linear-gradient(to top, #b77c0b 0%, #87580f 100%);
    box-shadow: 0 3px 8px $mainShadow_1;
  }
}

@mixin mainBtn3 {
  background: linear-gradient(to bottom, #5064c9 1%, #2b3b87 52%, #5064c9 86%);
  color: #ffffff;
  font-size: 16px;
  border-radius: 100px;

  &:hover,&:active,&.active {
    background: linear-gradient(to top, #5064c9 1%, #2b3b87 79%);
  }
}

//遊戲快速轉帳彈窗按鈕
@mixin fastBtn {
  background: linear-gradient(to bottom, #ffffff 40%, #f4f4f4 100%);
  border: solid 1px #d79515;
  color: #d79515;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;

  &:hover,
  &:active,
  &.active {
    background: #d79515;
    color: #ffffff;
    border-color: #d79515;
  }
}
//邊框線按鈕
@mixin borderBtn {
  background: #ffffff;
  border: solid 1px #dd9d28;
  color: #dd9d28;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;

  &:hover,
  &:active,
  &.active {
    background: #dd9d28;
    color: #ffffff;
  }
}
//邊框線按鈕異色_優惠申請
@mixin eventBtn {
  background: #ffffff;
  color: #008599;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;

  &:hover,
  &:active,
  &.active {
    background: #008599;
    color: #ffffff;
  }
}
//邊框線按鈕異色_站內信
@mixin mailBtn_1 {
  background: #ffffff;
  border: solid 1px #e11515;
  color: #e11515;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;

  &:hover,
  &:active,
  &.active {
    background: #e11515;
    color: #ffffff;
  }
}
@mixin mailBtn_2 {
  background: #ffffff;
  border: solid 1px #16b887;
  color: #16b887;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;

  &:hover,
  &:active,
  &.active {
    background: #16b887;
    color: #ffffff;
  }
}
//邊框線按鈕異色_存款
@mixin depositBtn {
  background: #ffffff;
  border: solid 1px #cccccc;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to right, #b68222 0%, #df9e28 100%);
    color: #ffffff;
  }
}
//slot頁按鈕
@mixin slotBtn_1 {
  background: linear-gradient(to top, #801c1c 0%, #f13945 100%);
  border: solid 1px #f56d5c;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:active,
  &.active {
    background: #5a0c0c;
  }
}
@mixin slotBtn_2 {
  background: linear-gradient(to top, #324ab9 0%, #6a91f3 100%);
  border: solid 1px #5c8df5;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:active,
  &.active {
    background: #0e1c5e;
  }
}
//優惠申請按鈕
$pageBTN_bg: #cc9022;
$pagePrev_text: #c8c8c8;
$pageNext_text: #1a42bc;
@mixin eventCheck {
  background: linear-gradient(to bottom, #d59315 0%, #955c19 50%, #d59315 100%);
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to top, #955c19 0%, #d59315 50%, #955c19 100%);
  }
}

@mixin eventApply {
  background: linear-gradient(to bottom, #3351c1 0%, #0d2676 50%, #3351c1 100%);
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to top, #0d2676 0%, #3351c1 50%, #0d2676 100%);
  }
}
//灰漸層按鈕
@mixin normalBtn {
  background: linear-gradient(to bottom, #ffffff 40%, #f4f4f4 100%);
  border: solid 1px #cccccc;
  border-radius: 3px;
  color: #c69c6d;
  font-size: 18px;
  font-weight: bold;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(to top, #ffffff 40%, #f4f4f4 100%);
  }
}
//灰漸層+不同hover效果按鈕
@mixin changeBtn {
  background: linear-gradient(to bottom, #ffffff 40%, #f4f4f4 100%);
  border: solid 1px #cccccc;
  border-radius: 3px;
  color: #666666;
  font-size: 14px;
  font-weight: bold;

  &:hover,
  &:active,
  &.active {
    background: #956817;
    border-color: #956817;
    color: #ffffff;
  }
}
//內頁左列快速選擇轉存提按鈕
@mixin quick {
  background: linear-gradient(to top, #b68222 0%, #df9e28 100%);
  border: solid 1px #dfc280;
  color: #ffffff;
  border-radius: 50%;
  font-size: 21px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 6px $mainShadow_1;
  justify-content: center;
  font-weight: bold;

  &:hover,
  &:active,
  &.active {
    background: #94650e;
  }
}
//innerPage頁籤按鈕
@mixin grayBtn {
  background: #999999;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:active,
  &.active {
    background: linear-gradient(0deg, #df9e28 0%, #b68222 46%, #f5bc32 100%);
  }
}

button:disabled {
  background: #ccc !important;
  border: none !important;
  color: #ffffff !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

//input

//最常用input
@mixin mainInput {
  background: #ffffff;
  border: solid 1px #aeaeae;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 20px;

  &::placeholder {
    color: #848484;
  }
}

input:read-only {
  background: #f5f5f5 !important;
  border-color: #cccccc !important;
  color: #000000 !important;
  box-shadow: none !important;
  pointer-events: none !important;
}

//select

@mixin mainSelect {
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding-left: 16px;
  background-image: linear-gradient(45deg, transparent 50%, #c29f64 0),
    linear-gradient(135deg, #c29f64 50%, transparent 0);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  appearance: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;

  option {
    background: #ffffff;
    color: #000000;
  }
}
