@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex_center_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}