footer {
    width: 100%;
    height: auto;
    background: $footer_BG1;

    //上部
    .top {
        width: 100%;
        height: 35px;

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .btnBox {
                width: auto;
                height: 100%;

                ul {
                    display: flex;
                    width: auto;
                    height: 100%;

                    li {
                        width: auto;
                        height: 100%;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: $footer_Word1;
                        font-weight: bold;
                        font-size: 14px;
                        box-sizing: border-box;
                        padding: 0 12px;

                        &:hover,&:active,&.active {
                            color: $footer_Word2;
                            background: $footer_Hover;
                        }
                    }
                }
            }

            p {
                font-size: 14px;
                font-weight: bold;
                color: $footer_Word1;
                height: 100%;
                display: flex;
                align-items: center;
                letter-spacing: 2px;
            }
        }
    }

    //下部
    .footerList {
        width: 100%;
        height: 72px;
        background: $footer_BG2;

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                font-size: 12px;
                font-weight: bold;
                color: $footer_Word2;
                letter-spacing: 1px;

                &:last-child {
                    margin-top: 10px;
                }
            }
        }
    }
}