header {
    width: 100%;
    height: 115px;
    position: relative;
    background: $header_BG_1;

    //上部
    .top {
        width: 1400px;
        height: 70px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        //左
        // .brad {
        //     font-size: 22px;
        //     font-weight: bold;
        //     display: flex;
        //     align-items: center;
        //     color: $fontColor_1;

        //     //時間
        //     .time {
        //         font-size: 16px;
        //         margin-left: 10px;
        //         color: $fontColor_1;
        //     }
        // }

        //右
        .user {
            width: auto;
            height: auto;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            display: none;

            &.display {
                display: flex;
            }

            &.alLogin {

                li:not(.platform) {
                    padding: 0 15px;
                    border-right: solid 1px $header_Border;
                    flex-direction: column;
                    color: $header_Word;
                    cursor: pointer;

                    &:last-child {
                        border: none;
                    }

                    //等級
                    &.lv {
                        font-size: 14px;
                        font-weight: bold;
                        align-items: flex-start;
                        justify-content: center;
                        padding-right: 8px;
                        position: relative;
                        cursor: default;

                        .level {
                            color: $header_LV_1;
                            margin-bottom: 5px;
                        }

                        .name {
                            color: $header_LV_2;
                            display: flex;
                            align-items: center;

                            .total {
                                width: auto;
                                height: auto;
                                @include headerMoney;
                                margin-left: 5px;
                            }
                        }

                        .transferInfo {
                            width: 290px;
                            height: auto;
                            top: 50px;
                            left: 14px;
                            @include headerMoneyList;

                            &.display {
                                display: block;
                            }

                            li {
                                width: 100%;
                                height: 47px;

                                div {

                                    .money {
                                        
                                        i {
                                            display: none;
                                            position: absolute;
                                            width: 20px;
                                            height: 20px;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            right: -6px;
                                            animation: circle 1s linear infinite;

                                            &.display {
                                                display: block;
                                            }
                                        }

                                        @keyframes circle {
                                            0% {
                                                transform: translateY(-50%) rotate(0deg);
                                            }

                                            100% {
                                                transform: translateY(-50%) rotate(360deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    i {
                        display: block;
                        margin-bottom: 5px;
                        width: 33px;
                        height: 34px;

                        &.deposit_ic {
                            background-position-x: 0;
                        }
                        &.transfer_ic {
                            background-position-x: 100%;
                        }
                        &.withdrawal_ic {
                            background-position-x: 50%;
                        }
                    }
                }
            }

            li:not(.platform) {
                display: flex;
                width: auto;
                height: 55px;
                align-items: center;
                position: relative;

                //未登入選單
                .loginForm {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    div {
                        position: relative;

                        input {
                            width: 152px;
                            height: 30px;
                            margin-right: 8px;
                            @include headerInput;
                        }

                        i {
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 10px;
                        }
                    }

                    button {
                        width: auto;
                        height: 30px;
                        @include headerBtn_1;

                        &.signupBtn {
                            margin-left: 8px;
                            @include headerBtn_2;
                        }
                    }
                }

                //忘記密碼
                &.forget {
                    margin: 0 8px;
                    @include headerForget;

                    i {
                        display: block;
                        width: 19px;
                        height: 19px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    //選單
    .gameNav {
        width: 100%;
        height: 45px;

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            box-sizing: border-box;
            padding-left: 250px;

            .logo {
                position: absolute;
                bottom: 20px;
                left: 6px;
            }

            ul {
                width: auto;
                height: 100%;
                display: flex;

                li {
                    width: auto;
                    height: 100%;
                    @include headerNavHover;
                }
            }
        }
    }

    //下拉式選單
    .topGameList {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        left: 0px;
        bottom: -170px;
        z-index: 10;

        &.display {
            height: auto;
        }

        .listWrap {
            width: 100%;
            height: 170px;
            background: $topGameList_BG;
            border-top: solid 1px $topGameList_Border;
            display: flex;
            align-items: center;
            justify-content: center;

            .center {
                width: 1400px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    display: none;
                    width: 15px;
                    height: 30px;
                    cursor: pointer;

                    &.prev {
                        margin-right: 10px;
                    }

                    &.next {
                        transform: scaleX(-1);
                        margin-left: 10px;
                    }

                    &.display {
                        display: block;
                    }
                }

                .container {
                    width: 1320px;
                    height: 100%;
                    overflow: hidden;

                    ul {
                        display: none;
                        width: 100%;
                        height: 100%;
                        transition: 0.6s ease;
                        align-items: center;

                        &.display {
                            display: flex;
                        }

                        li {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            position: relative;
                            margin: 0 35px;
                            transition: 0.3s all;

                            &:hover,&:active,&.active {
                                transform: scale(1.1);
                            }

                            p {
                                font-size: 16px;
                                padding-top: 8px;
                                text-align: center;
                                font-weight: bold;
                                color: $topGameList_Word;
                            }

                            .fixBox {
                                @include fixBox;
                                width: 141px;
                                height: 100%;
        
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //跑馬燈
    .marqueeArea {
        width: 100%;
        height: 45px;
        background: $marquee_BG;
        position: absolute;
        z-index: 2;
        bottom: -45px;

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .marqueeWrap {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;

                .marquee_ic {
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                    flex-shrink: 0;
                }

                .marquee {
                    width: 100%;
                    height: auto;
                    overflow: hidden;

                    p {
                        font-size: 14px;
                        font-weight: bold;
                        color: $marquee_Word;
                        display: inline-block;
                        animation: marquee 10s linear infinite;
                        padding-left: 100%;
                        white-space: nowrap;
                    }

                    @keyframes marquee {
                        0% {
                            transform: translate(0%);
                        }

                        100% {
                            transform: translate(-100%);
                        }
                    }
                }
            }

            .people {
                width: auto;
                height: auto;
                @include thirdBtn;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                display: flex;
                align-items: center;
                padding: 5px 8px;
                border-radius: 5px;
                pointer-events: none;

                i {
                    display: inline-block;
                    width: 16px;
                    height: 19px;
                    margin-right: 5px;
                }
            }
        }
    }
}