.sideBar {

    .download {
        position: fixed;
        left: 10px;
        top: 240px;
        z-index: 1;
        width: 46px;
        height: 185px;
        font-size: 20px;
        font-weight: bold;
        writing-mode: vertical-lr;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $sideBar_Word;
        background: $sideBar_BG1;
        border: solid 1px $sideBar_Border1;
        box-sizing: border-box;
        padding: 30px 10px 0;
        border-radius: 30px;

        &::before {
            content: "";
            position: absolute;
            width: 62px;
            height: 40px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
        }

        i {
            width: 62px;
            height: 62px;
            position: absolute;
            left: 50%;
            top: -15px;
            transform: translateX(-50%);
        }
    }

    .rightSide {
        position: fixed;
        right: 10px;
        top: 240px;
        z-index: 1;
        width: auto;
        height: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        li {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $sideBar_BG2;
            border: solid 1px $sideBar_Border2;
            cursor: pointer;
            margin-bottom: 30px;
            transform: rotate(45deg);

            &:hover,&:active,&.active {
                filter: brightness(1.2);
            }

            &.invite {
                width: 88px;
                height: 90px;
                transform: rotate(0deg);
                border: none;
                margin-right: -10px;
            }

            i {
                width: 30px;
                height: 30px;
                transform: rotate(-45deg);
            }
        }
    }
}